# Byte-compiled Python files
*.pyc
*.pyo
*.pyd

# Log files
*.log

# Virtual environment files
env/
venv/
virtualenv/

# Flask files
*.flaskenv

# Database files
*.db
*.sqlite

# IDE files
.vscode/
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Miscellaneous
*.egg-info
dist/
build/
*.txt
*.pdf
*.docx
*.xlsx
*.pptx
*.zip
*.rar
*.7z
*.tar
*.gz
*.bz2
*.xz
*.lzma
*.Z
*.tgz
*.tbz2
*.txz
*.tlz
*.xz
*.lz
*.zst
*.zipx
*.jar
*.war
*.ear
*.sar
*.rar
*.7z
*.tar
*.gz
*.bz2
*.xz
*.lzma
*.Z
*.tgz
*.tbz2
*.txz
*.tlz
*.xz
*.lz
*.zst
*.zipx
*.jar
*.war
*.ear
*.sar
*.rar
*.7z
*.tar
*.gz
*.bz2
*.xz
*.lzma
*.Z
*.tgz
*.tbz2
*.txz
*.tlz
*.xz
*.lz
*.zst
*.zipx
*.jar
*.war
*.ear
*.sar
*.rar
*.7z
*.tar
*.gz
*.bz2
*.xz
*.lzma
*.Z
*.tgz
*.tbz2
*.txz
*.tlz
*.xz
*.lz
*.zst
*.zipx
*.jar
*.war
*.ear
*.sar
*.rar
*.7z
*.tar
*.gz
*.bz2
*.xz
*.lzma
*.Z
*.tgz
*.tbz2
*.txz
*.tlz
*.xz
*.lz
*.zst
*.zipx
*.jar
*.war
*.ear
*.sar
*.rar
*.7z
*.tar
*.gz
*.bz2
*.xz
*.lzma
*.Z
*.tgz
*.tbz2
*.txz
*.tlz
*.xz
*.lz
*.zst
*.zipx
*.jar
*.war
*.ear
*.sar
*.rar
*.7z
*.tar
*.gz
*.bz2
*.xz
*.lzma
*.Z
*.tgz
*.tbz2
*.txz
*.tlz
*.xz
*.lz
*.zst
*.zipx
*.jar
*.war
*.ear
*.sar
*.rar
*.7z
*.tar
*.gz
*.bz2
*.xz
*.lzma
*.Z
*.tgz
*.tbz2
*.txz
*.tlz
*.xz
*.lz
*.zst
*.zipx
*.jar
*.war
*.ear
*.sar
*.rar
*.7z
*.tar
*.gz
*.bz2